<!--
	glFusion plugin.xml for autoinstaller
	More information about the glFusion plugin autoinstallation system can be found at:
	http://www.glfusion.org/wiki/doku.php/glfusion:development:pluginautoinstall
	Note that for consistency, the plugin distribution archive should be named as follows:
	<id>-<version>.tgz/zip
-->
<plugin>

	<!--
		Plugin ID (required) establishes name of directories and pi_name value in plugin table
		The plugin ID must be unique in the context of the installation target and
		should be same value as $_XX_CONF['pi_name'] found in `id`.php, where:
		XX = the two letter tag assigned to this plugin.
		A matching `id`.php must be in the root of the plugin archive to define plugin global vars
	-->
    <id>zero</id>

	<!--
		Plugin Name (required), suitable for display, but leave off the word 'Plugin'.
		Should be the same value as $_XX_CONF['pi_display_name'] in <id>.php
	-->
    <name>Zero Function</name>

	<!--
		Plugin Description (optional) displayed in the plugin admin page.
	-->
    <description>Zero Function plugin for glFusion CMS</description>

	<!--
		Plugin version (required).
		Should be the same value as $_XX_CONF['pi_version'] in <id>.php
	-->
    <version>2.0.0</version>

	<!--
		Minimum glFusion version to support this plugin (required)
        Should be the same value as $_XX_CONF['pi_gl_version'] in <id>.php
	-->
    <glfusionversion>2.0.0</glfusionversion>

	<!--
		Minimum version of PHP to support this plugin (required)
	-->
    <phpversion>7.4.0</phpversion>

	<!--
		URL to site/page where plugin support can be obtained.
	-->
    <url>https://www.glfusion.org</url>

	<!--
		Author's name (optional)
	-->
    <maintainer>John M. Doe</maintainer>

	<!--
		(optional) Id(s) and version(s) of plugins that are required as prerequisite(s), if any.
		Example:
		<requires>mediagallery,1.1.0</requires>
		<requires>special_plugin</requires>
		The version is optional, if omitted then any version of the required plugin will
		satisfy the requirement.
	-->
    <requires></requires>


    <!-- <layout> = (optional) name of the directory to create and copy plugin-specific templates to    -->
    <!--            directory will be created under the /layout directory and files must exist in the   -->
    <!--            /themefiles directory of the plugin archive                                         -->

    <layout></layout>

	<!--
		Path/name of any files that needs to be renamed durin installation.
		The path and file must be specified, eg. /plugin/config.php.dist.
		Specify multiple times if needed.
	-->
    <renamedist></renamedist>

</plugin>
